#item{
  position: absolute;
  color:  #737373;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  top: 10%;
  left: 4%;
  width: 50%;
  height: 80%;
  font-size: 1.5em;
}

#item_img, #item_details{
  width: 50%;
  height: auto;
}

#item_img img{
  display: inline;
  position: absolute;
  margin-top: 4%;
  left: 4%;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: auto;
}

#item ul{
  position: absolute;
  top: 4%;
  left: 60%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.margin_describe{
  margin-top: 4rem;
}

.item_detail{
  margin-left: 2rem;
  font-family: 'Didact Gothic', sans-serif;
}


#item_name{
  font-size: 1.4em;
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}

.describe_li{
  font-size: 1.1em;
  font-family: 'Poiret One', cursive;
}

.owner{
  transition: 0.3s;
  font-size: 1em;
  font-family: 'Didact Gothic', sans-serif;
  position: absolute;
  top: 78%;
  left: 60%;
  width: 30%;
  border-radius: 5px;
}

#get_item{
  position: absolute;
  left: 60%;
  top: 70%;
  transition: 0.3s;
  font-size: 0.9em;
  font-family: 'Didact Gothic', sans-serif;
  width: 30%;
  border-radius: 5px;
}

#get_item:hover, .owner:hover{
  opacity: 0.7;
}

#toLogOut{
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: 0.3s;
}

#toLogOut span{
  padding-right: 1rem;
}

#toLogOut span:hover{
  opacity: 0.7;
}

